# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual Environments
venv/
.venv/
env/
.env

# IDE configuration
.vscode/
.idea/


.coverage

# Logs
*.log
app.log